body {
  background-color: rgb(223, 223, 223);
}
.result {
  background-color: rgb(255, 255, 255);
  margin: 1vh 1vw;
  min-width: 90vw;
  max-width: 90vw;
  min-height: 12vh;
  max-height: 12vh;
  font-size: 10vh;
  border: rgb(255, 255, 255) 2px;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1vw;
}
.numbers {
  background-color: rgb(255, 255, 255);
  margin: 0.2vh 0.2vw;
  min-width: 30vw;
  max-width: 30vw;
  min-height: 12vh;
  max-height: 12vh;
  font-size: 10vh;
  border: none;
}
.eq {
  margin: 0.2vh 0.2vw;
  min-height: 12vh;
  max-height: 12vh;
  min-width: 60.5vw;
  max-width: 60.5vw;
  font-size: 10vh;
  border: none;
  background-color: rgb(255, 255, 255);
}
